<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.szymonkaliski.nix-gc</string>
        <key>ProgramArguments</key>
        <array>
            <string>/bin/bash</string>
            <string>LAUNCHCTL_SCRIPTS_PATH/nix-gc.sh</string>
        </array>
        <key>StartCalendarInterval</key>
        <dict>
            <key>Weekday</key>
            <integer>0</integer>
            <key>Hour</key>
            <integer>10</integer>
        </dict>
        <key>StandardErrorPath</key>
        <string>LOGS_PATH/com.szymonkaliski.nix-gc.log</string>
        <key>StandardOutPath</key>
        <string>LOGS_PATH/com.szymonkaliski.nix-gc.log</string>
    </dict>
</plist>
